.about p {
    color: white;
    max-width: 700px;
    margin-left: 50px;
}

.about {
    display: flex;
    
}

.pdf {
    margin-left: 100px;
    width: 100px;
}

.h2 {
    color: white;
    margin: 20px;
    margin-top: 50px;
    border-bottom: 1px solid white;
    width: 40%;
}

.contact img {
    width: 100px; 
    height: 100px; 
    margin: 20px;

    
}

.contact {
    color: white;
}

