.h2 {
    color: white;
    margin: 20px;
    margin-top: 50px;
    border-bottom: 1px solid white;
    width: 40%;
}

.h3{
    color: #ECC600;
    padding: 10px;
}

p {
    color: white;
    max-width: 800px;
    padding: 20px;
}

h1 {
    color: red;
    text-align: center;
    border-bottom: 1px solid red;
    padding: 20px;
}

.icons {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
  
  }
  
  .icons img {
    width: 100px; 
    height: 100px; 
    margin: 20px;
  }